---
layout: default
title: People

<section id="people" class="people-section">

    <!-- Faculty -->
    {% include role-people.html role="faculty" image=true %}

    <!-- Collaborators -->
    {% include role-people.html role="collab" image=true %}

    <!-- Current Full-Time Graduate Students -->
    {% include role-people.html role="grad" image=true %}

    <!-- Undergraduate Students -->
    {% include role-people.html role="ugrad" image=false %}

    <!-- Part-Time Graduate Students -->
    {% include role-people.html role="msc_taught_current" image=false %}

    <!-- Alumni -->
    {% include role-people.html role="ugrad-alum" image=false %}

</section>
