---
layout: default
title: People

picture-role-groups:
- {roles: [faculty], width: 8}
- {roles: [grad], width: 8}
- {roles: [collab], width: 8}
- {roles: [msc_taught_current], width: 8}
- {roles: [msc_taught_alumni], width: 8}
---

<section class="people row justify-content-between">
<section class="people">

    <!-- Faculty -->
    {% include role-people.html role="faculty" image=true %}


    <!-- MSc by Research -->
    {% include role-people.html role="grad" image=true %}


    <!-- MSc by Taught Course - Current -->
    {% include role-people.html role="msc_taught_current" image=false %}


    <!-- MSc by Taught Course - Alumni -->
    {% include role-people.html role="msc_taught_alumni" image=false %}


    <!-- Undergraduate - Current -->
    {% include role-people.html role="undergraduate_current" image=false %}


    <!-- Undergraduate - Alumni -->
    {% include role-people.html role="undergraduate_alumni" image=false %}


    <!-- Collaborators -->
    {% include role-people.html role="collab" image=true %}

</section>
</section>
