---
layout: default
title: Research Projects
---

    <div class="row">
        {% comment %}
        Sort the projects by date, putting those without dates last
        {% endcomment %}
        {% assign projects_by_date = site.projects | sort: 'last-updated', 'first' %}
        {% assign projects_by_date = projects_by_date | reverse %}
        {% for p in projects_by_date %}
            {% if p.status != "inactive" %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="project-card-wrapper w-100">
                        {% include project-card.html project=p %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
