
{% assign people = site.data.people | sort: "display_name" %}

<div class="people-group">

    {% for role_item in site.roles %}
        {% if role_item.key == role %}

            <h3 class="people-group-title">
                {{ role_item.name }}
            </h3>

            <div class="people-grid">

                {% for person in people %}
                    {% if person[1].role == role %}

                        <div class="person-column">
                            {% include person.html
                                person=person[1]
                                image=include.image
                            %}
                        </div>

                    {% endif %}
                {% endfor %}

            </div>

        {% endif %}
    {% endfor %}

</div>
