
{% assign role-key = include.role %}

{% for role in site.roles %}
    {% if role.key == role-key %}
        <h3 class="pt-3"> {{ role.name }} </h3>
        <div class="row">
            {% for item in site.data.people %}
                {% assign person = item[1] %}
                {% if person.role == role.key %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        {% include person.html person=person image=include.image %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
